body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  margin: 20px 0 10px 0;
}

h2 {
  margin: 20px 0 10px 0;
}
.main {
  width: 300px;
}
select {
  width: 50%;
  border: 1px solid gray;
  border-radius: 2px 2px 2px 2px;
  background-color: white;
  height: 30px;
  padding: 0 10px;
}
.input-line {
  width: 70%;
  float: left;
  height: 30px;
  border: 1px solid grey;
  border-radius: 2px 0 0 2px;
  margin: 0;
}
.input-line:focus-visible {
  width: 70%;
  float: left;
  outline: none;
  height: 30px;
  border: 1px solid grey;
  border-radius: 2px 0 0 2px;
  margin: 0;
}
.input-line-invalid {
  width: 70%;
  float: left;
  height: 30px;
  border: 1px solid red;
  border-radius: 2px 0 0 2px;

  margin: 0;
}
.input-btn {
  width: 25%;
  float: left;
  height: 34px;
  margin: 0;
  border: 1px solid grey;
  border-radius: 0 2px 2px 0;
  background-color: white;
}
.input-btn-invalid {
  width: 25%;
  float: left;
  height: 34px;
  margin: 0;
  border: 1px solid red;
  border-radius: 0 2px 2px 0;
  background-color: white;
}
.input-block {
  width: 300px;
}
